
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 .container{
    background-image: url(/src/assets/bg-pattern-desktop.svg);
    width: 100%;
    display: flex;
    height: 100vh;
 }

.container_texts{
    font-family: 'Josefin Sans', sans-serif;
    height: 300px;
    position: relative;
    top: 35%;
    left: 8%;
    
    
 }


.container_texts p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    color: #C9999C;
    position: relative;
    top: 6%;
    
 }

.containerCorreo{
    position: absolute;
    top: 80%;
    left: 17%;
 }

.correoText{
    outline: none;
    border-top: 2px solid #E7D2D3;
    border-left: 2px solid #E7D2D3;
    border-bottom: 2px solid #E7D2D3;
    border-right: none;
    width: 400px;
    height: 50px;
    border-radius: 30px;
    font-family: 'Josefin Sans', sans-serif;
    
 }

.correoText::placeholder{
    color: #E7D2D3;
    
 }

.parrafo{
    position: relative;
    top: -20px;
 }

.BotonCorreo{
    background: linear-gradient(to right, #F7B5B6, #F19394);
    border: none;
    width: 90px;
    height: 52px;
    border-radius: 30px;
    position: relative;
    right: 46px;
    top: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}


.BodyImage{
position: absolute;
right: 0px;
height: 100vh;
}

.Logo{
    position: relative;
   
    height: 30px;
    left: 17%;
    top: 10%;
}

.textTitle{
    color: #C9999C;
    font-family: 'Josefin Slab', serif;
    font-size: 80px;
}

.textTitle2{
    color: #403738;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;


}

.correoText.error {
    border: 2px solid #E1706E;
  }
  
  .TextoError{
    color: #E1706E;
  }

  .mobileImage{
        display: none;
  }

  @media only screen and (max-width: 600px){

    .BodyImage{
        display: none;
    }

    .Logo{
        top: 10px;
        left: 10px;
    }

    .mobileImage{
        display:flex;
        width: 100%;
        height: 195px;
        top: 70px;
        position: absolute;
    }

    .container_texts{
        text-align: center;
        top: 287px;
        left: -20%;
    }

    .correoText{
        width: 200px;
        position: relative;
        top: 32px;
    }

    .BotonCorreo{
        top: 37px;
    }

    .textTitle{
        font-size: 40px;
    }

    .textTitle2{
        font-size: 40px;
    }

    .TextoError{
        position: relative;
        top: 35px;
        left: 20px;
    }

  }

